<html>
<head>
<title>Alumno</title>
</head>
<body>
	<form action="alumno" method="POST">
		<table>
			<tbody>
				<tr>
					<td>ID</td>
					<td><input type="hidden" name="id" value="{{person.id}}" />{{alumno.id}}</td>
				</tr>
				<tr>
				<td>Nombre</td>
				<td><input type="text" name="nombre" value="{{alumno.nombre}}" /></td>
				</tr>
				<tr>
					<td>First Name</td>
					<td><input type="text" name="ApellidoPaterno" value="{{alumno.ApellidoPaterno}}" /></td>
				</tr>
				<tr>
					<td>Last Name</td>
					<td><input type="text" name="ApellidoMaterno" value="{{alumno.ApellidoMaterno}}" /></td>
				</tr>
			</tbody>
		</table>
		<br>
		<input type="submit" value="Save" />
		<input type="button" value="Cancel" onclick="history.back();" />
	</form>
</body>
</html>