<html>
<head>
<title>People</title>
</head>
<body>
	<table class=>
		<thead>
		</thead>
		
		<tbody>
			<tr>
				<th>ID</th>
				<td>{{ alumno.id }}</td>
			</tr>
			<tr>
				<th>nombre</th>
				<td>{{ alumno.nombre }}</td>
			</tr>
			<tr>
				<th>Apellido Paterno</th>
				<td>{{ alumno.ApellidoPaterno }}</td>
			</tr>
			<tr>
				<th>Apellido Materno</th>
				<td>{{ alumno.ApellidoMaterno }}</td>
			</tr>
        </tbody>
      </table>
      <br />
      <a href="add-alumno?id={{alumno.id}}">Modify</a> |<a href="add-alumno">Add New Alumno</a> | <a href="alumno">List All</a>
</body>
</html>